@define-color foreground #f1f2f3;
@define-color foreground-gray #909399;
@define-color background #212121;
@define-color background-mask #606266;
@define-color normal #4e9eff;
@define-color info #67C23A;
@define-color warn #e6a23c;
@define-color danger #f56c6c;

* {
    font-family: "NotoSans Nerd Font", "FontAwesome", sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

#waybar {
    background-color: @background;
    color: @foreground;
}

#workspaces,
#network,
#cpu,
#temperature,
#memory,
#pulseaudio,
#battery,
#backlight,
#bluetooth,
#clock,
#tray {
  padding-right: 0.4em;
}

#mode {
  padding: 0 0.2em;
  background-color: @normal;
}

#workspaces button {
  padding: 0 0.2em;
  color: @foreground-gray;
  border: none;
}

#workspaces button:hover {
  background-color: @background-mask;
}

#workspaces button.focused {
  color: @info;
}

#workspaces button.urgent {
  color: @warn;
}

#network.disconnected {
  color: @danger;
}

.warning {
  color: @warn;
}

.critical {
  color: @danger;
}

/*
#cpu.warning {
  color: #e0af68; 
}

#cpu.critical {
  color: #f7768e; 
}

#memory.warning {
  color: #e0af68; 
}

#memory.critical {
  color: #f7768e; 
}

#pulseaudio.muted {
  color: #f7768e; 
}

#battery.warning {
  color: #e0af68; 
}

#battery.critical {
  color: #f7768e;
}
*/
