@define-color foreground #f1f2f3;
@define-color background #212121;
@define-color mask #606266;
@define-color gray #909399;
@define-color normal #4e9eff;
@define-color warn #e6a23c;
@define-color danger #f56c6c;

* {
    font-family: "Hack", "FontAwesome", sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

#waybar {
    background-color: @background;
    color: @foreground;
}

#workspaces,
#network,
#cpu,
#temperature,
#memory,
#pulseaudio,
#battery,
#backlight,
#bluetooth,
#clock,
#tray {
  padding-right: 0.6em;
}

#mode {
  padding: 0 0.2em;
  background-color: @normal;
}

#workspaces button {
  padding: 0 0.6em;
  color: @foreground;
  border: none;
  border-top: 4px solid transparent;
  border-radius: 0;
}

#workspaces button:hover,
#workspaces button.focused {
  border-top: 4px solid @mask;
  background-color: rgba(96, 98, 102, 0.4);
}

#workspaces button.urgent {
  background-color: @warn;
}

#network.disconnected {
  color: @danger;
}

.warning {
  color: @warn;
}

.critical {
  color: @danger;
}

/*
#cpu.warning {
  color: #e0af68; 
}

#cpu.critical {
  color: #f7768e; 
}

#memory.warning {
  color: #e0af68; 
}

#memory.critical {
  color: #f7768e; 
}

#pulseaudio.muted {
  color: #f7768e; 
}

#battery.warning {
  color: #e0af68; 
}

#battery.critical {
  color: #f7768e;
}
*/
